@import 'bootstrap/dist/css/bootstrap.min.css';

@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

div.row {
  // margin: 0px !important;
}
* {
  box-sizing: border-box;
}
.pull-right {
  float: right;
  justify-content: right;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --secondary: #0072CE;

  background-color: var(--bg);
  color: var(--fg);
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  // font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  // position: absolute;
  //   left: 0%;
  //   right: 0%;
  //   top: 0%;
  //   bottom: 0%;
  //   z-index: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/background.jpg');
  background-size: 100% 100%;
}

html, body {
    // display: flex;
    // height: 100%;
    // width: 100%;
  margin: 0px;

  // position: absolute;
  // left: 0px;
  // right: 0px;
  // top: 0px;
  // bottom: 0px;
}
a {
  text-decoration: none;
  color: white !important;
}
div.home {
  z-index: 1;
  margin: 0px;
  width: 100%;
  padding: 0px;
  &_active {
    display: block !important;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto !important;
  }
  &_block {
    max-width: 472px;
    min-height: 700px;
    margin: auto !important;
    display: none;
  }
  
}
p {
  text-align: center;
  color: white;
}
.bold-font {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  /* white */
  color: #FFFFFF;
}
.btn {
  width: 226.43px;
}
.full-width {
  width: 100%;
}
.btn-dark-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  background: #4A3959;
  /* highlight2 */

  border: 1.5px solid #FFFFFF8C;
  // border: 1.5px solid rgba(255, 255, 255, 0.55);
  box-sizing: border-box;
  /* drop-shdw */

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 16px; 
}
.btn-transparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  
  /* highlight */
  
  background: rgba(255, 255, 255, 0.02);
  /* highlight */
  
  border: 1.5px solid rgba(255, 255, 255, 0.02);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 16px;
}