@import 'bootstrap/dist/css/bootstrap.min.css';

@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

div.row {
  margin: 0px !important;
}
* {
  box-sizing: border-box;
}
.pull-right {
  float: right;
  justify-content: right;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --secondary: #0072CE;

  background-color: var(--bg);
  color: var(--fg);
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  // font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/background.jpg');
  background-size: auto 100%;
}

html, body {
  display: block;
  // height: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
  color: white !important;
}
.main {
  margin: 0px;
  width: 100%;
  padding: 0px;
}

.bold-btn-string {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  /* white */
  color: #FFFFFF;
}
