@import 'bootstrap/dist/css/bootstrap.min.css';

@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

div.row {
  margin: 0px !important;
}
* {
  box-sizing: border-box;
}
.pull-right {
  float: right;
  justify-content: right;
}

html {
  --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #FF585D;
  --secondary: #0072CE;

  background-color: var(--bg);
  color: var(--fg);
  // font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  // font-size: calc(0.9em + 0.5vw);
  line-height: 1.3;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/background.jpg');
  background-size: auto 100%;
}

html, body {
  display: block;
  // height: 100%;
  margin: 0px;
}
a {
  text-decoration: none;
}
.main {
  margin: 0px;
  width: 100%;
  padding: 0px;
}
.header {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;
  position: relative;
  width: 100%;
  padding: 24px 109px 24px 109px;
}
.header-background {
  position: absolute;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* bg2 */

  background: #151515;
  opacity: 0.2;
}
.header > div a {
  background-color: rgba(128,128,128,0);
  color: rgba(255,255,255,1);
  z-index: 1;
}
.header a {
  color: white;
}
.kangaroo-logo {
  background-image: url('../assets/kangaroo-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 85px;
  height: 44px;
  display: block;
  margin: 0px;
}

.bold-btn-string {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 46px;
  /* white */
  color: #FFFFFF;
}
.coin_select {
  align-items: center;
  max-width: 472px;
  margin: auto;
   &_img {
    // width: 438px;
    // height: 438px;
  }
  button {
    width: 226.43px;
  }
  &_btn_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    
    /* highlight */
    
    background: rgba(255, 255, 255, 0.02);
    /* highlight */
    
    border: 1.5px solid rgba(255, 255, 255, 0.02);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 16px;
  }
  &_btn_tails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background: #4A3959;
    /* highlight2 */

    border: 1.5px solid rgba(255, 255, 255, 0.55);
    box-sizing: border-box;
    /* drop-shdw */

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    
  }
  &_scroll_bar {
    padding: 5px 0px 5px 0px;
  }
  &_flip_btn {
    width: 100% !important;
  }
}

.footer {
  color: white;
  margin-top: 26px;
  padding-bottom: 85px;

  &_content {
    margin: auto;
    width: 300px;

    & > div {
      justify-content: center;
    }
    &_content > div {
      gap: 15px;
    }
    & a {
      color: white;
      //styleName: desk-p;
      font-family: Titillium Web;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: left;
    }
    img {
      width: 48.57px;
      height: 40px;
    }
  }
}