
.header {
  // position: absolute;
  // left: 0%;
  // right: 0%;
  // top: 0%;
  // bottom: 0%;
  position: relative;
  width: 100%;
  padding: 24px 109px 24px 109px !important;

  &_background {
    position: absolute;

    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
  
    /* bg2 */
  
    background: #151515;
    opacity: 0.2;
    z-index: 0;
  }
  &_navbar {
    z-index: 10;
    justify-content: space-between;

    div, img {
      z-index: 10;
    }
    div {
      gap: 46px !important;
    }
  }
  &_connect_btn {
    // padding: 8px, 16px, 8px, 16px;
    margin-left: 52px;

    border-radius: 16px;
    padding: 8px 56px !important;
    border: 1.5px solid #FFFFFF05;
    box-shadow: 0px 2px 2px 0px #00000026;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 46px;
    z-index: 1000;
  }
}
