.recent_flips {
  margin: auto;
  padding: 2rem;
  min-height: 625px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px #00000040;

  color: white;

  & > h2 {
    text-align: center;
  }
  & p {
    margin: 0px !important;
    text-align: left;
    align-self: flex-start;
  }
  & > div {
    display: inline-block;
    width: 100%;
  }
  &_item {
    padding: 10px;
    & > img {
      width: 25px;
      align-self: flex-start;
    }
    & > p:first-child {
      width: 70%;
      text-align: left;
    }
    & > p:last-child {
      width: 20%;
      flex-grow: 1;
      text-align: right;
    }
  }
}
